<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sod.quran">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DialogShowActivity"></activity>

        <service
            android:name=".services.AudioService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".broadcastreceiver.AudioNextBroadcast" />
        <receiver android:name=".broadcastreceiver.AudioPrevBroadcast" />
        <receiver android:name=".broadcastreceiver.AudioPPBroadcast" />
        <receiver android:name=".broadcastreceiver.AudioCloseBroadcast" />
        <receiver android:name=".broadcastreceiver.AlertReceiverDaily"/>

        <activity
            android:name=".activity.SuratViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>